---
// Redirect root to German version
---
<meta http-equiv="refresh" content="0; url=/de/" />
<script>
  window.location.href = '/de/';
</script>
<p>Redirecting to <a href="/de/">German version</a>...</p>
