---
import Layout from '../layouts/Layout.astro';
---
<Layout 
	title="ConnectingTheDots - Von der Idee zum erfolgreichen Unternehmen" 
	description="Wir helfen dir dabei, deine Unternehmensidee zu testen, umzusetzen und zu wachsen. Mit Experten für Marketing, Design und technische Entwicklung. Schnelle Ergebnisse, weniger Risiko, bewährter Ablauf."
	lang="de"
	currentPath="/"
>
<meta http-equiv="refresh" content="0; url=/de/" />
<script>
  window.location.href = '/de/';
</script>
<p>Redirecting to <a href="/de/">German version</a>...</p>
</Layout>
