---
import '../styles/reset.css';
import '../styles/variables.css';
import '../styles/global.css';
import '../styles/tailwind.css';

interface Props {
	title: string;
	description?: string;
	lang?: 'de' | 'en';
}

const { title, description = "Meine neue Website", lang = 'de' } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-SSB2GL7YSD"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-SSB2GL7YSD');
		</script>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
		/>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

